@import "tailwindcss";


  body {
    background-color: #1a1a1b;
    font-family: "MyRetroFont", sans-serif;
    color: azure;
  }

  body.light {
    background-color: white;
    color:#9370db;
    
  }
  body.light * {
    color: inherit;
  }